<!DOCTYPE html>
<html lang="en" ng-app="apptpbuser">
<head>
    <meta charset="utf-8">
    <title>Test Model</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    <!-- PAGE LEVEL PLUGINS STYLES -->
    <!-- REQUIRE FOR SPEECH COMMANDS -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins/gritter/jquery.gritter.css" />

    <!-- Tc core CSS -->
    <link id="qstyle" rel="stylesheet" href="assets/css/themes/style.css">
    <link id="qstyle1" rel="stylesheet" href="css/bootstrap-treenav.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie-fix.css" />
    <![endif]-->

    <script src="js/angular.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular/tpbfnc.js"></script>
    <script src="js/angular/linkaddress.js"></script>
    <script src="js/angular/bll/modeltestcontroller.js"></script>

    <!-- Add custom CSS here -->

    <!-- End custom CSS here -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <script language="javascript">

        function CheckValidate() {
            var check = false;
            if ($('#frmMain input:radio:checked').length == 0) {
                alert('You must choose!');
                return false;
            }

            return true;
        }

        function getOptionChecked() {

            var result = '';
            $('#frmMain input:radio:checked').each(function () {
                result += "," + $(this).val();
            });
            //alert('{listresult: [' + result.substring(1) + ']}');
            return '{listresult: [' + result.substring(1) + ']}';
        }
    </script>
</head>

<body>
<div id="wrapper">
    <div id="main-container">
        <!-- BEGIN TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation">
            <!-- BEGIN BRAND HEADING -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".top-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="logo" class="img-responsive">
                    </a>
                </div>
            </div>
            <!-- END BRAND HEADING -->
            <div class="nav-top">
                <!-- BEGIN RIGHT SIDE DROPDOWN BUTTONS -->
                <ul class="nav navbar-right">
                    <!--Speech Icon-->
                    <li class="dropdown user-box">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="img-circle" src="assets/images/user.jpg" alt=""> <span class="user-info">Hani Massoud</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="profile.html">
                                    <i class="fa fa-user"></i>My Profile
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- END RIGHT SIDE DROPDOWN BUTTONS -->
                <!-- BEGIN TOP MENU -->
                <div class="collapse navbar-collapse top-collapse">
                    <!-- .nav -->
                    <ul class="nav navbar-left navbar-nav">
                        <li><a href="index.html">Dashboard</a></li>
                        <li><a href="front/index.html">FrontEnd <span class="badge badge-primary">New</span></a></li>
                    </ul><!-- /.nav -->
                </div>
                <!-- END TOP MENU -->
            </div><!-- /.nav-top -->
        </nav><!-- /.navbar-top -->
        <!-- END TOP NAVIGATION -->


        <!-- BEGIN SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">

                <ul id="side" class="nav navbar-nav side-nav">
                    <!-- BEGIN SIDE NAV MENU -->
                    <!-- Navigation category -->
                    <li>
                        <h4>Scoring card</h4>
                    </li>
                    <li>
                        <a href="model.html">
                            <i class="fa"></i> Models
                        </a>
                        <a href="factors.html">
                            <i class="fa"></i> Factors
                        </a>
                        <a href="factoroptions.html">
                            <i class="fa"></i> Factor Options
                        </a>
                        <a href="ratings.html">
                            <i class="fa"></i> Ratings
                        </a>
                        <a href="modeltest.html" class="active">
                            <i class="fa"></i> Tests
                        </a>
                        <a href="modelactive.html">
                            <i class="fa"></i> Activate
                        </a>
                    </li>
                </ul><!-- /.side-nav -->


            </div><!-- /.navbar-collapse -->
        </nav><!-- /.navbar-side -->
        <!-- END SIDE NAVIGATION -->


        <!-- BEGIN MAIN PAGE CONTENT -->
        <div id="page-wrapper">
            <!-- BEGIN PAGE HEADING ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- BEGIN BREADCRUMB -->
                    <div class="breadcrumbs">
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>Pages</li>
                            <li class="active">Blank</li>
                        </ul>
                    </div>
                    <!-- END BREADCRUMB -->

                    <div class="page-header title">
                        <!-- PAGE TITLE ROW -->
                        <h1>Model <span class="sub-title">test case</span></h1>
                    </div>

                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
            <!-- END PAGE HEADING ROW -->
            <div class="row" ng-controller="modelTestController" ng-init="getModelByStatus('active')">
                <form id="frmMain">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Model:</label>
                        <div class="col-sm-5">
                            <div class="clearfix">
                                <select id="cboModel" style="width:200px"  name="cboModel"
                                        ng-change="getFactorByModelId(selectModel)"
                                        ng-model="selectModel"
                                        ng-options="model._id as model.name for model in models">
                                    <option value="">Please select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-primary" type="submit" id="btnGetChecked"
                                    onclick="return CheckValidate();"
                                    ng-click="submit()"
                                    ng-disabled="CheckValidate()">
                                    Get Checked
                            </button>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-show="message">
                        <div ng-class="messageClass" ng-bind-html="message">

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- START YOUR CONTENT HERE -->
                        <ul class="nav nav-tree" id="myTree">
                            <li ng-repeat='factor1 in getFactorByParentId("")'>
                                <a href="javascript:;" class="accordion-toggle" data-toggle="collapse"
                                   data-target="#sub-menu2{{factor1._id}}">
                                    <label class="col-sm-6 control-label">
                                        <i class="fa fa-angle-double-right"></i>{{factor1.FactorName}}
                                    </label>
                                    <label class="col-sm-6">Weight: {{factor1.Weight}}%</label>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-tree collapse in" id="sub-menu2{{factor1._id}}">
                                    <li ng-repeat='factor2 in getFactorByParentId(factor1._id)'>
                                        <a href="javascript:;" class="accordion-toggle has-success" data-toggle="collapse"
                                           data-target="#sub-menu3{{factor2._id}}">
                                            <label class="col-sm-6 control-label">
                                                <i class="fa fa-angle-double-right"></i>{{factor2.FactorName}}
                                            </label>
                                            <label class="col-sm-6 control-label">Weight: {{factor2.Weight}}%</label>
                                            <span class="fa arrow"></span>
                                        </a>
                                        <ul class="nav nav-tree collapse in" id="sub-menu3{{factor2._id}}">
                                            <li ng-repeat='factor3 in getFactorByParentId(factor2._id)'>
                                                <a href="javascript:;" class="accordion-toggle has-warning" data-toggle="collapse"
                                                   data-target="#sub-menu4{{factor3._id}}">
                                                    <label class="col-sm-6 control-label">
                                                        <i class="fa fa-angle-double-right"></i>{{factor3.FactorName}}
                                                    </label>
                                                    <label class="col-sm-6 control-label">Weight: {{factor3.Weight}}%</label>
                                                    <span class="fa arrow"></span>
                                                </a>
                                                <ul class="nav nav-tree collapse in" id="sub-menu4{{factor3._id}}">
                                                    <li ng-repeat="factorOption in factor3['FactorOption']">
                                                        <label class="col-sm-10">
                                                            <input type="radio" name="{{factor3._id}}"
                                                                   id="{{factorOption.FactorOptionId}}"
                                                                   value='{"factorid": "{{factor3._id}}", "factoroptionid": "{{factorOption.FactorOptionId}}", "factorname": "", "score": "{{factorOption.Score}}"}' class="tc">
                                                            <span class="col-sm-9 labels"> {{factorOption.FactorOptionName}}</span>
                                                            <span class="col-sm-3">Score: {{factorOption.Score}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END YOUR CONTENT HERE -->

                    </div>
                </form>
            </div>

            <!-- BEGIN FOOTER CONTENT -->
            <div class="footer">
                <div class="footer-inner">
                    <!-- basics/footer -->
                    <div class="footer-content">
                        &copy; 2015 <a href="#">FIS</a>, All Rights Reserved.
                    </div>
                    <!-- /basics/footer -->
                </div>
            </div>
            <button type="button" id="back-to-top" class="btn btn-primary btn-sm back-to-top">
                <i class="fa fa-angle-double-up icon-only bigger-110"></i>
            </button>
            <!-- END FOOTER CONTENT -->

        </div><!-- /#page-wrapper -->
        <!-- END MAIN PAGE CONTENT -->
    </div>
</div>

<!-- core JavaScript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/js/plugins/pace/pace.min.js"></script>

<!-- PAGE LEVEL PLUGINS JS -->

<!-- Themes Core Scripts -->
<script src="assets/js/main.js"></script>

<!-- REQUIRE FOR SPEECH COMMANDS -->
<script src="assets/js/speech-commands.js"></script>
<script src="assets/js/plugins/gritter/jquery.gritter.min.js"></script>
<!-- initial page level scripts for examples -->
</body>
</html>